*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; // 1rem = 10px (10/16)
    @include respond (tab){
        font-size: 75%; // 75% = 1rem = 12px
    } // 87.5% = 1rem = 14px

    // @include respond (smlLap){
    //     font-size: 87.5%;
    // }
}