.header-info {
  grid-row: 8/13;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
  padding: 5.5rem 3rem;
  @include respond(lrgTab) {
    grid-row: 1/11;
    grid-column: 10/-1;
    padding: 1.5rem 3rem 7rem
  }
  @include respond(smlDesk) {
    max-width: 560px;
    margin: 0 auto;
    padding: 1.5rem 6.5rem 6rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 600;
    @include respond(desk) {
      font-size: 4rem;
    }
  }
  &__text {
    font-size: 1.1rem;
    color: $darkGrey;
    line-height: 16px;
    font-weight: 400;
    max-width: 350px;
    @include respond(desk) {
      font-size: 1.2rem;
    }
  }
  &-cta {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    color: $black;
    fill: $black;
    &:hover {
      color: $darkGrey;
      fill: $darkGrey;
      cursor: pointer;
    }
    &__btn {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 7px;
    }
  }
}
