.nav {
  grid-column: 1/-1;
  grid-row: 1/3;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 3rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(smlLap) {
    grid-column: 1/8;
    grid-row: 1/2;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 75px;
  }
  &__burger {
    margin-right: auto;
    @include respond(smlLap) {
      display: none;
    }
  }
  &__logo {
    margin-right: auto;
    @include respond(smlLap) {
      margin-right: 0;
    }
  }
  &-links {
    display: none;
    @include respond(smlLap) {
      display: block;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
  &-link {
    &__btn {
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 1rem;
      font-weight: 600;
      text-transform: lowercase;
      font-family: $fontFamily;
      position: relative;

      &:hover{
        cursor: pointer;
        &::after{
        content: "";
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        position: absolute;
        height: 2px;
        width: 15px;
      }
      }
    }
  }
}
